name: Build-Ubuntu

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install ninja-build -y
        sudo apt-get install xorg-dev
        sudo apt-get install freeglut3-dev
        sudo apt-get install gcovr

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/
      run: cmake $GITHUB_WORKSPACE/ -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_TESTS=ON

    - name: Build
      working-directory: ${{github.workspace}}/
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Tests
      working-directory: ${{github.workspace}}/
      shell: bash
      run: ctest --extra-verbose

    - name: Generate Code Coverage
      working-directory: ${{github.workspace}}/
      shell: bash
      run: gcovr -r . -x -o coverage.xml

    - uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml